<div class="header">
	<div class="row">
		<div class="name col-sm-6">
			<h2>Kate White</h2>
			<h4>Front-end Developer and Designer</h4>
		</div>
		<div class="contact col-sm-6">
			<h4>mobile: 214-679-0560</h4>
			<h4>email: white.kate.e@gmail.com</h4>
		</div>
	</div>
</div>
{{render "spigot"}}
{{render "tapigo"}}
{{render "enigami"}}
{{render "aventura"}}
{{outlet}}